//**** COLORS ****//

$black:			black;
$white:			white;
$grey-light:	#868686;

$dark: 			#0F1011; //#12141C
$red:			#FF0000;

$spot:			#FFF0C1;

$color-text:		black;

$error:			#ff9999;

$dark-gradient: linear-gradient(180deg, rgba(18,22,28,0.00) 0%, rgba(18,22,28,0.50) 100%);