@font-face {
    font-family: 'Circular Std';
    src: url('/assets/fonts/circular/CircularStd-Bold.woff2') format('woff2'),
        url('/assets/fonts/circular/CircularStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "LL Circular Medium Web";
    src: url('/assets/fonts/circular/lineto-circular-medium.eot');
    src: url('/assets/fonts/circular/lineto-circular-medium.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/circular/lineto-circular-medium.woff2') format('woff2'),
         url('/assets/fonts/circular/lineto-circular-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "LL Circular Book Sub";
    src: url('/assets/fonts/circular/lineto-circular-book.eot');
    src: url('/assets/fonts/circular/lineto-circular-book.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/circular/lineto-circular-book.woff2') format('woff2'),
         url('/assets/fonts/circular/lineto-circular-book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "LL Circular Bold Sub";
    src: url('/assets/fonts/circular/lineto-circular-bold.eot');
    src: url('/assets/fonts/circular/lineto-circular-bold.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/circular/lineto-circular-bold.woff2') format('woff2'),
         url('/assets/fonts/circular/lineto-circular-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
	font-family: 'CheddarJack';
	src: url('/assets/fonts/cheddarjack/CheddarJack.eot');
	src: local('/assets/fonts/cheddarjack/CheddarJack'), url('/assets/fonts/cheddarjack/CheddarJack.woff') format('woff'), url('/assets/fonts/cheddarjack/CheddarJack.ttf') format('truetype');
}

$circular: 'LL Circular Medium Web', sans-serif;
$circularBook: 'LL Circular Book Sub', sans-serif;
$circularBold: 'LL Circular Bold Sub', sans-serif;

$cheddarjack: 'CheddarJack', sans-serif;
