//Global spacing
$spacing-sides: 2rem;
$spacing-menu-sides: 4rem;
$spacing-default-grid-gap: 2.4rem;

$spacing-section: 4rem;
$spacing-section-d: 6rem;


.default-spacing {
	padding-top: 6rem;

	@include respond-at($viewport-d) {
		padding-top: 6rem;
	}
}