/****
Default animation classes used acrossed the site.
Change the speed of the animations in /settings/_animation-time.scss
****/

.js-animate-in-viewport {
	opacity: 0;
}

.animation-fade-in {
	animation: fade-in 1.5s forwards 0s;
}

//**** MODIFIERS ****//

#{$animated-class} {

	&.fade-in {
		animation: fade-in 1.5s forwards 0s;
	}

	&.slide-in {
		animation: slide-in 2s forwards 0s;
	}

	@for $i from 0 through 15 {

		&:nth-child(#{$i}):not(:first-child) { 
			animation-delay: calc(0.5s * #{$i});
		}
	}

}

//**** KEYFRAMES ****//

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes slide-in {
	from {
		transform: translateX(5rem) scale(1.2,1.2);
		opacity: 0;
	}
	to {
		transform: translateX(0rem) scale(1,1);
		opacity: 1;
	}
}