html,
body {
	margin: 0;
	padding: 0;

	height: 100%;

	font-family: $circular;
	font-size: 62.5%;
	text-rendering: geometricprecision;

	color: $white;
	background: $dark;

    --scroll-behavior: smooth;
    scroll-behavior: smooth;
}

body {		
	::selection {
		background: $spot;
		color: $black;
	}
}

input, select, button {
	-webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.app-container {
	display: inline-block;
    float: left;
    width: 100%;

    overflow: hidden;
}