/****
Use this classes to add custom spacing on elements, where $i is the amount of margins
****/

@for $i from 0 through 100 {

	//Set custom margin top
	.mt-#{$i} {
		margin-top: $i + px;
	}

	.mt-min-#{$i} {
		margin-top: -$i + px;
	}

	//Set custom margin top for viewport-t
	.mt-#{$i}--t {

		@include respond-to($viewport-t){
			margin-top: $i + px !important;
		}
	}

	.mt-min-#{$i}--t {

		@include respond-to($viewport-t){
			margin-top: -$i + px !important;
		}
	}

	//Set custom margin top for viewport-m
	.mt-#{$i}--m {

		@include respond-to($viewport-m){
			margin-top: $i + px !important;
		}
	}

	.mt-min-#{$i}--m {

		@include respond-to($viewport-m){
			margin-top: -$i + px !important;
		}
	}

	//Set custom margin top
	.mb-#{$i} {
		margin-bottom: $i + px;
	}

	.mb-min-#{$i} {
		margin-bottom: -$i + px;
	}

	//Set custom margin top for viewport-t
	.mb-#{$i}--t {

		@include respond-to($viewport-t){
			margin-bottom: $i + px !important;
		}
	}

	.mb-min-#{$i}--t {

		@include respond-to($viewport-t){
			margin-bottom: -$i + px !important;
		}
	}

	//Set custom margin top for viewport-m
	.mb-#{$i}--m {

		@include respond-to($viewport-m){
			margin-bottom: $i + px !important;
		}
	}

	.mb-min-#{$i}--m {

		@include respond-to($viewport-m){
			margin-bottom: -$i + px !important;
		}
	}
}