/****
Use this classes to add custom spacing on elements, where $i is the amount of paddings
****/

@for $i from 0 through 120 {

	//Set custom padding top
	.pt-#{$i} {
		padding-top: $i + px;
	}

	//Set custom padding top for viewport-t
	.pt-#{$i}--t {

		@include respond-to($viewport-t){
			padding-top: $i + px !important;
		}
	}

	//Set custom padding top for viewport-m
	.pt-#{$i}--m {

		@include respond-to($viewport-m){
			padding-top: $i + px !important;
		}
	}

	//Set custom padding top
	.pb-#{$i} {
		padding-bottom: $i + px;
	}

	//Set custom padding top for viewport-t
	.pb-#{$i}--t {

		@include respond-to($viewport-t){
			padding-bottom: $i + px !important;
		}
	}

	//Set custom padding top for viewport-m
	.pb-#{$i}--m {

		@include respond-to($viewport-m){
			padding-bottom: $i + px !important;
		}
	}

}