h1,h2,h3,h4,h5,h6,p {
	margin: 0;
}

a {
	text-decoration: none;
}

//**** TITLES ****//

$h1: (
	font-family: $circularBold,
	font-size: 3.6rem,
	line-height: 3.6rem,
	font-weight: 800,
);

$h1-t: (
	font-family: $circularBold,
	font-size: 5.6rem,
	line-height: 5.6rem,
	font-weight: 800,
);

$h1-d: (
	font-family: $circularBold,
	font-size: 6.6rem,
	line-height: 6.6rem,
	font-weight: 800,
);

$h2: (
	font-family: $circularBold,
	font-size: 2.8rem,
	line-height: 2.8rem,
	font-weight: 800,
	letter-spacing: 0,
);

$h2-t: (
	font-family: $circularBold,
	font-size: 3.4rem,
	line-height: 3.4rem,
	font-weight: 800,
	letter-spacing: 0,
);

$h2-d: (
	font-family: $circularBold,
	font-size: 4rem,
	line-height: 4rem,
	font-weight: 800,
	letter-spacing: 0,
);

$h3: (
	font-family: $circularBold,
	font-size: 2rem,
	line-height: 2rem,
	font-weight: 800,
);

$h3-t: (
	font-family: $circularBold,
	font-size: 2.4rem,
	line-height: 2.4rem,
	font-weight: 800,
);

$h3-d: (
	font-family: $circular,
	font-size: 3rem,
	line-height: 3rem,
	font-weight: 400,
);

$h4: (
	font-family: $circular,
	font-size: 2.4rem,
	line-height: 3.2rem,
	font-weight: 400,
);

$h5: (
	font-family: $circular,
	font-size: 2rem,
	line-height: 2.4rem,
	font-weight: 400,
);

$h6: (
	font-family: $circular,
	font-size: 1.8rem,
	line-height: 1.8rem,
	font-weight: 400,
);

//**** BODY ****//

$body: (
	font-family: $circularBook,
	font-size: 1.4rem,
	line-height: 2.3rem,
	font-weight: 100,
);

$body-s: (
	font-family: $circularBook,
	font-size: 1.3rem,
	line-height: 1.6rem,
	font-weight: 100,
);

$body-l: (
	font-family: $circularBook,
	font-size: 1.6rem,
	line-height: 2.7rem,
	font-weight: 100,
);

//**** BUTTON ****//

$button: (
	font-family: $circularBook,
	font-size: 1.4rem,
	line-height: 2.3rem,
	font-weight: 400,
);

//**** SET TYPO ****//

h1 {
	@include set-typo($h1);


	@include respond-at($viewport-t) {
		@include set-typo($h1-t);
	}

	@include respond-at($viewport-d) {
		@include set-typo($h1-d);
	}
}
h2 {
	@include set-typo($h2);

	@include respond-at($viewport-t) {
		@include set-typo($h2-t);
	}

	@include respond-at($viewport-d) {
		@include set-typo($h2-d);
	}
}
h3 {
	@include set-typo($h3);

	@include respond-at($viewport-t) {
		@include set-typo($h3-t);
	}

	@include respond-at($viewport-d) {
		@include set-typo($h3-d);
	}
}
h4 {
	@include set-typo($h4);
}
h5 {
	@include set-typo($h5);
}
h6 {
	@include set-typo($h6);
}
