.hide-viewport-m{

	@media (max-width: $viewport-m) {
		display: none !important;
	}
}

.hide-viewport-t{

	@media screen and (min-width: $viewport-m) and (max-width: $viewport-t) {
		display: none !important;
	}
}

.hide-viewport-d{

	@media screen and (min-width: $viewport-t) and (max-width: $viewport-d) {
		display: none !important;
	}
}

.hide-to-viewport-t{

	@media (max-width: $viewport-t) {
		display: none !important;
	}
}

.hide-to-viewport-d{

	@media (max-width: $viewport-d) {
		display: none !important;
	}
}