$galleryImageGap: 1.5rem;

//.c-gallery {}

.c-gallery__images {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;

	margin-top: -$galleryImageGap;

	& > * {
		margin-top: $galleryImageGap;
	}

}

.c-gallery__image {
	display: block;
	
	width: 100%;
	height: auto;
}

//**** MODIFIERS ****//

.c-gallery__image--small {
	width: calc(50% - (#{$galleryImageGap} / 2));
}

.c-gallery__image--align-right {
	margin-left: auto;
}