.c-intro {
	position: relative;

	margin-top: -15rem;

	z-index: $z-index-base;

	@include respond-at($viewport-d) {
		margin-top: -20rem;
	}
}

.c-intro__category {
	display: inline-block;

	margin-top: 1rem;

	font-size: 1.2rem;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	color: $spot;

	@include respond-at($viewport-d) {
		font-size: 1.6rem;
		font-weight: 300;
	}
}

.c-intro__text {

	p{
		opacity: 0;
	}
}