.c-main-banner {
	position: relative;

	width: 100%;
	height: 100vh;

    height: calc(var(--vh, 1vh) * 100);

    background: $black;
    
    overflow: hidden;

    &::after {
    	content: "";

    	position: absolute;

    	left: 0;
    	bottom: 0;

    	width: 100%;
    	height: 20.7rem;

    	background-image: linear-gradient(180deg, rgba(18,22,28,0.00) 0%, $dark 100%);

    	z-index: $z-index-base - 1;

    	@include respond-at($viewport-t) {
			height: 50vh;
		}
    }
}

.c-main-banner__image {
	position: relative;

	width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center center;

    z-index: $z-index-base - 2;

    animation: main-banner-image $main-banner-image-animation-time normal 0s forwards;
}

//**** MODIFIERS ****//

.c-main-banner--animation {
	animation: main-banner $main-banner-animation-time normal 0s forwards;
}

.c-main-banner--small {
	height: 75vh;

	&.c-main-banner--animation {
		animation: main-banner-small $main-banner-animation-time normal 0s forwards;
	}
}

//**** KEYFRAMES ****//

@keyframes main-banner {
	from {
		height: 100vh;
		height: calc(var(--vh, 1vh) * 100);
	}
	to {
		height: 95vh; 
		height: calc(var(--vh, 1vh) * 95);
	}
}

@keyframes main-banner-small {
	from {
		height: 100vh;
		height: calc(var(--vh, 1vh) * 100);
	}
	to {
		height: 75vh; 
		height: calc(var(--vh, 1vh) * 75);
	}
}

@keyframes main-banner-image {
	from {
		transform: scale(1.3);
	}
	to {
		transform: scale(1);
	}
}