//.c-map {}

.c-map__content {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding-top: 2rem;

	& > p {
		@include set-typo($body);
		color: $white;

		margin-top: 0;
	}
}

.c-map__map {
	width: 100%;
	height: 22.5rem;

	margin-top: 3rem;

	@include respond-at($viewport-m) {
		height: 45rem;

		margin-top: 4rem;
	}

	@include respond-at($viewport-d) {
		height: 75vh;
	}
}

.c-map__map .mapboxgl-ctrl-bottom-right {
	display: none;
}

.c-map__map a.mapboxgl-ctrl-logo {
	display: none;

	@include respond-at($viewport-m) {
		height: 1.6rem;
		background-size: contain;

		display: block;

		opacity: 0.5;
	}
}

.c-map__marker {
	width: 1rem;
	height: 1rem;

	background: $spot;

	border-radius: 100%;

	&::after {
		content: '';

		position: absolute;

		top: -50%;
		left: -50%;

		width: 200%;
		height: 200%;

		border: 0.1rem solid $spot;

		opacity: 1;

		border-radius: 100%;
		box-sizing: border-box;

		transform: scale(0.5,0.5);
	}
}

.c-map .mapboxgl-popup {
	opacity: 1;
}

.c-map .mapboxgl-popup-tip {
	display: none;
}

.c-map .mapboxgl-popup-content {
	padding: 0;

	background: none;
}

.c-map__marker-text {
	@include set-typo($body);
	color: $spot;
}

//**** MODIFIERS ****//

.c-map__marker--animation {

	&::after {
		animation: marker 1s ease-in infinite;
	}
}

//**** KEYFRAMES ****//

@keyframes marker {
	0% {
		transform: scale(0.5,0.5);
		opacity: 1;
	}
	100% {
		transform: scale(1.5,1.5);
		opacity: 0;
	}
	100% {
		//transform: scale(0.5,0.5);
	}
}