.c-menu{
	@include transition();

	display: flex;
	align-items: center;
	justify-content: flex-start;
	
	position: fixed;
	z-index: $z-index-menu;

	top: 0;
	right: 0;

	width: $menu-width;
	height: 100%;

	background: $black;

	transform: translateX(100%);

	@include respond-at($viewport-m){
		width: $menu-width-medium;
	}

	@include respond-at($viewport-d){
		width: $menu-width-large;
	}
}

.c-menu__nav{
	padding: 4rem;

	@include respond-at($viewport-m){
		padding: 6rem;
	}

	@include respond-at($viewport-d){
		padding: 10rem;
	}

	ul{
		@include reset-list;

		li{
			display: block;
			margin: 4rem 0;

			&:first-child{
				margin-top: 0;
			}

			a{
				@include transition;

				color: white;
				font-size: 2.6rem;

				@include respond-at($viewport-m){
					font-size: 3rem;
				}

				@include respond-at($viewport-d){
					font-size: 2.6rem;
				}

				svg{
					@include transition;

					display: inline-block;
					vertical-align: middle;

					position: relative;

					top: -0.1rem;

					width: 2rem;
					height: 2rem;

					margin-right: 1rem;

					fill: white;
				}

				&:hover{
					color: $spot;

					svg {
						fill: $spot;
					}
				}

			}

			&.current-menu-item{

				a{
					color: $spot;
					position: relative;

					&:after{
						content: "";
						width: 8px;
						height: 3px;
						background: $spot;
						position: absolute;
						bottom: -6px;
						left: 0px;
						animation: currentMenuItem 2s 0s ease-in-out infinite;
				
					}

				}

			}

			&.has-icon{

				a{
					display: inline-block;
					font-size: 1.6rem;
					vertical-align: middle;
					font-family: $circularBook;
				}
			}
		}
	}
}

//**** MODIFIERS ****//

#{$menu-is-open-class} {

	@include respond-to($viewport-m){
		overflow: hidden;
	}

	.c-menu {
		transform: translateX(0);

		.c-menu__nav ul li {
			opacity: 0;
			position: relative;

			animation-name: menuItem;
			animation-duration: $menu-item-animation-time;
			animation-iteration-count: 1;
			animation-fill-mode: forwards;
			animation-direction: alternate;

			@for $i from 0 through 15 {

				&:nth-child(#{$i}) { 
					animation-delay: calc(0.1s * #{$i});
				}
			}
		}

	}

}

//**** KEYFRAMES ****//

@keyframes menuItem {
	from {
		left: 100%; 
		opacity: 0;
	}
	to {
		left: 0rem;
		opacity: 1;
	}
}

@keyframes currentMenuItem {
	0% {
		left: 0rem; 
		width: 0.8rem;
	}
	25%{
		width: 1.6rem;
	}
	50% {
		left: calc(100% - 8px); 
		width: 0.8rem;
	}
	75%{
		width: 1.6rem;
	}
	100% {
		left: 0rem; 
		width: 0.8rem;
	}
}