$menuIconBarHeight: 0.2rem;

.c-menu-icon {
	@include transition;

	position: fixed;

	top: 2rem;
	right: 1.5rem;

	z-index: $z-index-menu + 1;

	visibility: visible;
	opacity: 1;
}

.c-menu-icon__bars-wrap {
	display: flex;
	align-items: center;

	width: 4rem;
	height: 4rem;
}

.c-menu-icon__bars {
	@include transition;

	position: relative;

	display: block;

	width: 3.2rem;
	height: $menuIconBarHeight;

	border-radius: 0.1rem;

	background: $white;

	cursor: pointer;

	transition-delay: 0.25s;

	&::before,
	&::after {
		@include transition;

		content: '';

		position: absolute;

		right: 0;

		width: 70%;
		height: 100%;

		border-radius: 0.1rem;

		background: $white;

		transition-delay: 0s;
	}

	&::before {
		top: -($menuIconBarHeight * 3);
	}

	&::after {
		bottom: -($menuIconBarHeight * 3);
	}
}

//**** MODIFIERS ****//

#{$menu-is-open-class} {

	.c-menu-icon__bars {
		background: transparent;

		transition-delay: 0s;

		&::before {
			top: 0;

			transform: translateY(-50%) rotate(45deg);

			transition-delay: 0.25s;
		}
		&::after {
			bottom: 0;

			transform: translateY(-50%) rotate(-45deg);

			transition-delay: 0.25s;
		}
	}
}

#{$page-menu-is-open-class} {

	.c-menu-icon {
		visibility: hidden;
		opacity: 0;
	}
}