.c-page-menu{
	@include transition();
	@include hide-scrollbar();

	display: flex;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: flex-end;
	flex-wrap: wrap;
	
	position: fixed;
	z-index: $z-index-page-menu;

	top: 0;
	left: 0;

	width: $menu-width;
	height: 100%;

	background: $dark;

	padding: $spacing-menu-sides;

	box-sizing: border-box;

	//overflow-y: scroll;

	transform: translateX(-100%);

	@include respond-at($viewport-m){
		width: $menu-width-medium;
	}
}

.c-page-menu__head {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.c-page-menu__title {
	width: 100%;

	font-size: 3rem;
	line-height: 3rem;

	color: $white;

	text-align: right;
}

.c-page-menu__watched {
	margin-top: 0.8rem;

	font-size: 1.2rem;
	letter-spacing: 0.1rem;
	font-weight: 300;

	color: $spot;
}

.c-page-menu__progress-bar {
	position: relative;

	width: 100%;
	height: 0.2rem;

	margin-top: 4rem;

	background: rgba(255,255,255,0.12);
}

.c-page-menu__bar {
	@include transition(box-shadow, 0.5s);
	position: absolute;

	width: 0;
	height: 100%;

	top: 0;
	left: 0;

	background: $spot;

	box-shadow: 0 0 1rem 0.1rem transparent;

	&.is-scrolling {
		//box-shadow: 0 0 1rem 0.2rem $spot;
	}
}

.c-page-menu__nav{
	width: 100%;

	margin-top: 4rem;

	box-sizing: border-box;

	ul{

		li{
			@include transition;

			display: block;

			margin: 4rem 0;

			text-align: right;

			color: white;
			font-size: 1.8rem;

			cursor: pointer;

			svg{
				@include transition;

				display: inline-block;
				vertical-align: middle;

				position: relative;

				top: -0.1rem;

				width: 2rem;
				height: 2rem;

				margin-right: 1rem;

				fill: white;
			}

			&:hover{
				color: $spot;

				svg {
					fill: $spot;
				}
			}

			&:first-child{
				margin-top: 0;
			}

			&.passed-section {
				opacity: 0.4;
			}

			&.current-section {
				opacity: 1;

				color: $spot;
			}

			&.current-menu-item{
				color: $spot;
				position: relative;

				&:after{
					content: "";
					width: 8px;
					height: 3px;
					background: $spot;
					position: absolute;
					bottom: -6px;
					left: 0px;
					animation: currentPageMenuItem 2s 0s ease-in-out infinite;
			
				}
			}
		}
	}
}

//**** MODIFIERS ****//

#{$page-menu-is-open-class} {

	.c-page-menu {
		transform: translateX(0);
		
		.c-page-menu__nav ul li {
			/*opacity: 0;
			position: relative;

			animation-name: pageMenuItem;
			animation-duration: $menu-item-animation-time;
			animation-iteration-count: 1;
			animation-fill-mode: forwards;
			animation-direction: alternate;*/

			@for $i from 0 through 15 {

				&:nth-child(#{$i}) { 
					//animation-delay: calc(0.1s * #{$i});
				}
			}
		}

	}

}

//**** KEYFRAMES ****//

@keyframes pageMenuItem {
	from {
		left: -100%; 
		opacity: 0;
	}
	to {
		left: 0rem;
		opacity: 1;
	}
}

@keyframes currentPageMenuItem {
	0% {
		left: 0rem; 
		width: 0.8rem;
	}
	25%{
		width: 1.6rem;
	}
	50% {
		left: calc(100% - 8px); 
		width: 0.8rem;
	}
	75%{
		width: 1.6rem;
	}
	100% {
		left: 0rem; 
		width: 0.8rem;
	}
}