.c-page-menu-counter {
	@include transition(0.5s);

	display: flex;
	justify-content: center;
	align-items: center;

	position: fixed;

	left: 0;
	bottom: 4rem;

	width: 4rem;
	height: 3.2rem;

	cursor: pointer;

	z-index: $z-index-page-menu + 1;

	transform: translateX(-100%);

	@include respond-at($viewport-t) {
		width: 6rem;
		height: 5rem;
	}

	&:after {
		@include transition;

		content: '';

		display: block;

		position: absolute;

		top: 50%;
		right: 0.2rem;

		width: 0.4rem;
		height: 0.4rem;

		margin-top: -0.3rem;
		margin-left: 0.2rem;

		border-right: 0.1rem solid $spot;
		border-bottom: 0.1rem solid $spot;

		transform: rotate(-45deg) scale(1);

		@include respond-at($viewport-t) {
			width: 0.6rem;
			height: 0.6rem;

			border-width: 0.2rem;
		}
	}
}

.c-page-menu-counter__count {
	@include transition(opacity);

	display: flex;
	align-items: center;

	font-size: 1rem;
	line-height: 1rem;

	color: $spot;

	opacity: 1;

	@include respond-at($viewport-t) {
		font-size: 1.6rem;
		line-height: 1.6rem;
	}
}

.c-page-menu-counter__bar {
	@include transition(opacity);

	position: absolute;

	bottom: 0;
	left: 0;

	width: 100%;
	height: 0.2rem;

	background: $spot;

	opacity: 1;
}

//**** MODIFIERS ****//

.c-page-menu-counter.is-visible-after-scroll {
	transform: translateX(0%);
}

#{$page-menu-is-open-class} {

	.c-page-menu-counter {
		transform: translateX(0%);
		
		&:after {
			transform: rotate(135deg) scale(2);

			@include respond-at($viewport-t) {
				transform: rotate(135deg) scale(1.5);
			}

		}
	}

	.c-page-menu-counter__bar,
	.c-page-menu-counter__count {
		opacity: 0;
	}
}

//**** KEYFRAMES ****//

