$dotWidth: 0.4rem;
$dotMargin: 0.4rem;

.c-page-menu-icon {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	position: absolute;

	top: -0.8rem;

	width: 3.2rem;
	height: 3.2rem;

	cursor: pointer;
}

.c-page-menu-icon__dots {
	@include transition;

	position: relative;

	display: inline-block;

	width: $dotWidth;
	height: $dotWidth;

	margin-left: $dotWidth + $dotMargin;

	border-radius: 100%;

	background-color: $white;

	transform: translateX(0%) rotate(0deg);
}

.c-page-menu-icon__dots::before,
.c-page-menu-icon__dots::after {
	@include transition;

	content: '';

	position: absolute;

	top: 0;
	left: 0;

	width: $dotWidth;
	height: $dotWidth;

	border-radius: 100%;

	opacity: 1;

	background-color: $white;
}

.c-page-menu-icon__dots {

	&::before {
		left: -($dotMargin + $dotWidth);
	}

	&::after {
		left: calc(100% + #{$dotMargin});
	}
}

//**** MODIFIERS ****//

#{$page-menu-is-open-class} {
	
	.c-page-menu-icon {

		.c-page-menu-icon__dots {
			width: 1.6rem;
			height: 0.2rem;
			border-radius: 0;

			transform: translateX(-50%) rotate(90deg);

			background: transparent;

			&::before,
			&::after {
				width: 1.6rem;
				height: 0.2rem;
				border-radius: 0;

				left: 0;
				//opacity: 0;

				transform: rotate(45deg);

				animation: none;
			}

			&::after {
				transform: rotate(-45deg);
			}
		}

		&:hover {

			.c-page-menu-icon__dots {
				//background: $white;
			}
		}
	}
}