//.c-product-teaser {}

.c-product-teaser__image {

	img{
		display: block;

		width: 100%;
		height: auto;

		max-width: 22rem;
		max-height: 22rem;

		object-fit: cover;
		object-position: center center;
	}
}

.c-product-teaser__content {
	margin-top: 1.6rem;
}

.c-product-teaser__title {
	@include set-typo($h6);

	color: $white;
}

.c-product-teaser__note {
	@include set-typo($body-s);

	margin-top: 0.4rem;

	color: $grey-light;
}

.c-product-teaser__price {
	@include set-typo($body-s);

	margin-top: 0.4rem;

	color: $spot;
}