.l-container {	
	width: 100%;

	margin-left: auto;
	margin-right: auto;

	padding-left: $spacing-sides;
	padding-right: $spacing-sides;

	box-sizing: border-box;

	max-width: 60rem;

	@include respond-at($viewport-d + 48px){
		box-sizing: border-box;

		padding-left: 0;
		padding-right: 0;
	}

}

.l-container--no-space-right {
	padding-right: 0;
}

//**** MODIFIERS ****//

.l-container--small{
	max-width: 70rem;
}

.l-container--full-width {
	padding-left: 0;
	padding-right: 0;
}