.l-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	& > * {
		width: calc(100% - 2rem);
	}

}

//**** MODIFIERS ****//

.l-grid--align-center {
	align-items: center;
}

@for $i from 0 through 12 {

	//Define columns where $i is the amount of columns
	.l-grid--colx#{$i} {

		> * {

			@if $i == 1 {
				width: 100%;
			}

			@else {
				width: calc((100% / #{$i}) - (#{$spacing-default-grid-gap} / 2));
			}
		}
	}

	//Define columns for viewport-t where $i is the amount of columns
	.l-grid--colx#{$i}--t {

		> * {

			@include respond-to($viewport-t) {

				@if $i == 1 {
					width: 100% !important;
				}

				@else {
					width: calc((100% / #{$i}) - (#{$spacing-default-grid-gap} / 2)) !important;
				}
			}
		}
	}

	//Define columns for viewport-m where $i is the amount of columns
	.l-grid--colx#{$i}--m {

		> * {

			@include respond-to($viewport-m) {

				@if $i == 1 {
					width: 100% !important;
				}

				@else {
					width: calc((100% / #{$i}) - (#{$spacing-default-grid-gap} / 2)) !important;
				}
			}
		}
	}
}