.l-page-wrap {
	@include transition;
	
	position: relative;

	left: 0;

	width: 100vw;

	box-sizing: border-box;

	padding-bottom: 10rem;

	transform: scale(1);
}

//**** MODIFIERS ****//

#{$menu-is-open-class} {

	.l-page-wrap {
		left: 0;

		@include respond-at($viewport-m) {
			left: auto;

			width: calc(100vw - #{$menu-width-medium});
		}

		@include respond-at($viewport-d) {
			width: calc(100vw - #{$menu-width-medium});
		}
	}
}

#{$page-menu-is-open-class} {

	.l-page-wrap {
		left: 0;

		@include respond-to($viewport-m) {
			transform: scale(0.8);
		}

		@include respond-at($viewport-m) {
			left: auto;

			width: calc(100vw - #{$menu-width-medium});

			margin-left: $menu-width-medium;
		}
	}
}