.l-toolbar {
	display: flex;
	align-items: center;

	position: fixed;

	width: 100%;
	height: $toolbar-height;

	bottom: 0;
	left: 0;

	padding: 0 $spacing-sides;

	box-sizing: border-box;

	background-image: $dark-gradient;

	z-index: $z-index-toolbar;
}