.l-wysiwyg {
	
	p {
		@include set-typo($body);

		margin-top: 2.5rem;

		color: $white;

		@include respond-at($viewport-t) {
			@include set-typo($body-l);
		}

		a {
			color: $spot;
		}
	}

	img {
		max-width: calc(100% + (#{$spacing-sides} * 1));
		height: auto;

		margin-top: 3rem;
		//margin-left: -$spacing-sides;
	}
}

.l-wysiwyg--center-text {
	text-align: center;
}