@mixin set-typo($typo-map) {
	@each $typo-string, $typo-value in $typo-map {
		@if $typo-string == font-family {
			font-family: $typo-value;
		}
		@if $typo-string == font-size {
			font-size: $typo-value;
		}
		@if $typo-string == line-height {
			line-height: $typo-value;
		}
		@if $typo-string == font-weight {
			font-weight: $typo-value;
		}
		@if $typo-string == letter-spacing {
			letter-spacing: $typo-value;
		}
		@if $typo-string == text-transform {
			text-transform: $typo-value;
		}
	}
}