.e-button {
	@include transition;
	@include set-typo($button);

	display: inline-flex;
	align-items: center;

	height: 3.6rem;

	padding: 1rem 2rem;

	box-sizing: border-box;

	border: 0.1rem solid $white;

	color: $white;

	background: transparent;

	border-radius: 2rem;

	svg {
		width: 1.6rem;
		height: 1.6rem;
		
		fill: $white;

		margin-left: 1rem;
	}

	&:hover {
		background: $white;

		color: $dark;
	}
}