.e-logo{
	display: inline-block;
	padding: 2rem;

	> * {
		color: white;
		display: block;
	}
}

.e-logo__name{
	font-size: 3rem;
	font-family: $circularBold;

	@include respond-to($viewport-m){
		font-size: 2rem;
	}

}

.e-logo__note{
	font-family: $cheddarjack;
	font-size: 2rem;
	margin-top: 4px;

	@include respond-to($viewport-m){
		margin-top: 0;
		font-size: 2rem;
	}

}

//**** MODIFIERS ****//

.e-logo--dark {

	> * {
		color: $black;
		display: block;
	}
}